.container {
  padding-bottom: 20px;
  text-align: center;
}

.form-signup {
  align: center;
}
.container2 {
  background-color: lightgray;
  opacity: 0.7;
}

.instructions {
  color: black;
  font-weight: 900 px;
  font-size: 3vw;
  opacity: 1;
}
