.container {
  padding-bottom: 20px;
  text-align: center;
  font-weight: 900;
}

h2 {
  color: white;
  font-weight: 900;
}

.form-signup {
  text-align: center;
}

.instructions {
  color: black;
  font-weight: 900 px;
  opacity: 1;
}
