*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(95, 158, 160);
}


.flexbox{
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 768px;
  height: 100vh;

  overflow: hidden;

  /* center margin */
  margin: 0 auto;
  padding: 15px;

}

/* styl */
.flexbox .board {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 300px;

  background-color: #50b4e2;


  padding: 15px;

  cursor: pointer;
  margin-bottom: 15px;

  writing-mode: vertical-rl;
  text-orientation: upright;
}




.img-background{
  background: transparent ;
  position: relative;
  margin-left: 200px; 
  width: 25%;
}

img {
  animation: img-background 10s infinite
}

@keyframes img-background {
  from {top: 0px;}
  to {top: 600px;}
}

.result{
  background: transparent ;
  position: relative;
  margin-left: 200px; 
  width: 25%;
}




